.item_container{
    display: flex;
    align-items: center;
    font-family: 'Lato';
    font-weight: bold;
    color: #283618;
    font-size: 1.25rem;
}

.img{
    margin: 10% 0% 10% 10%;
    height: 100px;
    width: 100px;
}

.button {
    color:  #283618 !important;
}
