.wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Lato';
}

.content-box {
    font-family: 'Lato';
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logout-button {
    margin-top: 0%;
    width: 75%;
    background-color: #283618;

}

.welcome-mess {
    font-size: 24px;

}