.wrapper {
    max-width: 1440px;
    margin: 0px auto;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.logout-btn {
    margin: 3% 0 3% 0;
    width: 20%;
    background-color: #283618;
}

input.search-input {
    padding-top: 11px;
    min-width: 300px;
    max-width: 475px;
    width: 100%;
    font-size: 1.25rem;
    margin: 3% 0% 3% 0%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #E5E5E5;
  }

.search-input:focus {
    border-color: #283618;
  }

  .search-box {
    display: inline-flex;
    justify-content: space-between;
    min-width: 650px;
    max-width: 1240px;
    margin: 2% auto;
}

.products-container{
   max-width: 1240px;
   box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
   padding: 2%;
   border-radius: 10px;
}

.hide-products-container{
    box-shadow: none;
    padding: 0%;
    border-radius: 0px;
}

.product-box{
    border: solid 1px #e0e0e0;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
}

.product-box:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.product-name{
    font-weight: bold;
    color: #283618;
    padding: 10px;
    text-align: center;
    font-family: 'Lato';
}

.product-price{
    font-family: 'Lato';
    color: #283618;
    text-align: center;

}

.product-quantity{
    font-family: 'Lato';
    color: #283618;
    text-align: center;
}

.product-img{
    display: block;
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.err{
    color: red;
    font-size: 1.25rem;
}

.hr{
    border: 1px solid #f4f3f3;
}

.unavailable{
    color: red;
    font-family: 'Lato';
    font-weight: bold;
}



