.wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Lato';
}

.content-box {
}

.logout-button {
    margin-top: 0%;
    width: 75%;
    background-color: #283618;

}

.welcome-mess {
    font-size: 24px;

}

.search-box {
    
}

input.search-input {
    font-size: 1.5rem;
    margin: 10% 0% 1% 0%;
    border: 0.5rem 1rem;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #e5e5e5;
    width: 100%;
  }

.search-input:focus {
    border-color: #283618;
  }

