.wrapper {
    max-width: 1440px;
    font-family: 'Lato';
    
}

.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.logout-button {
    margin-top: 0%;
    width: 20%;
    background-color: #283618;
}

.welcome-mess {
    font-size: 24px;
}

.search-box {
}

input.search-input {
    font-size: 1.5rem;
    margin: 10% 0% 1% 0%;
    border: 0.5rem 1rem;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #e5e5e5;
  }

.search-input:focus {
    border-color: #283618;
  }

